
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="el" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="el" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="el" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="el"  class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Διαμονή στην Πανσιόν Φιλύρα | Υπέροχος Ξενώνας στο κέντρο του Ναυπλίου | Ξενοδοχείο Ναύπλιο | Δωμάτια Ναύπλιο | Πολυτελής Διαμονή | Οικονομικές Τιμές</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Pension Filyra Nafplio, Great Accommodation in Nauplio, in economical prices" />
	<meta name="keywords" content="filyra,pension nafplio,nafplion,hotel nafplion,nafplio accommodation,argolida hotels,hotelsnafplio,nafplion hotels,rooms nauplio,napflio cheap rooms,economical nafplio,peloponnese,peloponese,nafplia,nauplie,anapli,nauplion,luxury,free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content="http://www.pensionfilyra.gr/en/rooms"/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="images/logo2 2.ico">
	<link rel="apple-touch-icon" href="images/logo2 2.ico">

	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Datetimepicker -->
	<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="css/flexslider.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<link rel="stylesheet" href="css/style.css">

	<link rel="stylesheet" href="css/lightbox.css" >

		<link rel="stylesheet" href="css/menu.css">
	<link rel="stylesheet" href="css/picture.css">
		<link rel="stylesheet" href="css/effect.css">





	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106766304-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106766304-1');
</script>


	
	<script src="js/myFunction2.js"></script>

	<style type="text/css">
	

	</style>
	
	
	</head>
	<body>




		
		<div class="topnav gr" id="myTopnav">
				<div class="header-top">
					<span class="span-1 ">ΠΟΛΥΤΕΛΗΣ ΔΙΑΜΟΝΗ ΣΤΟ ΝΑΥΠΛΙΟ
</span>
					<span class="span-2 span"><i class="icon-envelope"></i>  pensionfilyra@gmail.com&nbsp;| </span>
					<span><i class="icon-phone"></i> +30 27520 96096 &nbsp;| </span>
					<span class="span"><i class="icon-location-pin"></i> Άγγελου Τερζάκη 29, Ναύπλιο</span>
					<div style="display:inline-flex;">
						<a href="rooms_gr.html" class="lang"><img class="language" src="images/flag-400.png" ></a>
										<a href="rooms_en.html" class="lang"><img class="language" src="images/engflag.jpeg"></a> </div>

					</div>

<div class="container">
			
							  <a href="index.html" id="logo1" class="logo1" style="background-image:url(images/logo2.png); no-repeat;width: 130px;padding-top: 21px;margin:20px;"></a>
							    <a href="javascript:void(0)" class="closebtn" id="closebtn" onclick="myFunction()">&times; </a>
<a href="index.html" >ΑΡΧΙΚΗ </a>
  <a href="rooms_gr.html" class="current" >ΔΙΑΜΟΝΗ</a>
  <a href="nafplio_gr.html">ΝΑΥΠΛΙΟ</a>
  <a href="gallery_gr.html">ΦΩΤΟΓΡΑΦΙΕΣ</a>
     <a href="contact_gr.html">ΕΠΙΚΟΙΝΩΝΙΑ</a>
     
        <a href="https://filyranafplion.reserve-online.net/" ><i class="icon-calendar"></i> ΚΡΑΤΗΣΗ ΤΩΡΑ
        </a>
 <a href="rooms_gr.html" class="lang" ><img class="language" src="images/flag-400.png" style="display:none"></a>
 
										<a href="rooms_en.html" class="lang"><img class="language" src="images/engflag.jpeg" style="display:none"></a> 

 
  <a href="javascript:void(0);" class="icon" id="icon" onclick="myFunction()">&#9776; ΜΕΝΟΥ</a>

<div id="nav-info" style="display:none;font-size:11px;"><br><br><br>
<br><i class="icon-envelope"></i>  pensionfilyra@gmail.com&nbsp;
					<br><i class="icon-phone"></i> +30 27520 96096 &nbsp;
					<br><i class="icon-location-pin"></i> 29 Aggelou Terzaki St., Nafplio</div>

</div>
</div>
	<div id="page">

	<div id="fh5co-container">
		<div id="fh5co-home" class="myslide" data-section="home">

			<div class="flexslider myflexslider">
				
				<div class="fh5co-overlay"></div>
				<div class="fh5co-text">
					<div class="container">
						<div class="row">
							</br></br><h1  class="to-animate myslidetitle">Τα Δωμάτια</h1></br>
						</div>
					</div>
				</div>
			  	<ul class="myslide">
			   	<li class="myslides"style="background-image: url(images/room4/4.7.1.jpg);" data-stellar-background-ratio="0.5"></li>
			   	
			  	</ul>

			</div>
			
		</div>


		
			
		

		<div id="fh5co-featured" data-section="features" style="padding:0px;" >
			<div class="container" >
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Διαμονή στο Ναύπλιο</h2>
						<p style="font-size:15px;" class="sub-heading to-animate">Τα δίκλινα/τρίκλινα δωμάτια και η σοφίτα στη Φιλύρα, είναι όλα σχεδιασμένα με το δικό τους όνομα και χαρακτήρα: Σμαράγδι, Ρουμπίνι, Κοράλι, Διαμάντι, Αμέθυστος & Κεχριμπάρι, πολύτιμα ονόματα σύμφωνα στην ποιότητα της διαμονής και στα χρώματα της διακόσμησης.</p>
						<p style="font-size:15px;" class="sub-heading to-animate">Επιλέξτε το δωμάτιο που επιθυμείτε για να δείτε περισσότερα..</p>

					</div>
				</div>
  		  

  
</div>
<div class="blur pic">

<div class="responsive-1" >
  <div class="gallery" > 
  	<div class="effect to-animate">
    	<img class="heading to-animate image" src="images/room3/IMG_0311.JPG" >
    	<div class="overlay">
  			<div class="middle">
  				<div><a  href="diamond_gr.html"  class="text">ΔΙΑΜΑΝΤΙ</a><p style="color:white;" class="roomtype"><br>Δίκλινο δωμάτιο για 2 άτομα</p></div>
  			</div></div>
    </div>
   </div>
  </div>
</div>


<div class="blur pic">

<div class="responsive-1" >
  <div class="gallery" > 
  	<div class="effect to-animate">
    	<img class="heading to-animate image" src="images/room5/902904_701698446520639_1700804194_o.jpg" >
  			    	<div class="overlay">

  			<div class="middle">
  				<div><a  href="amethyst_gr.html" class="text">ΑΜΕΘΥΣΤΟΣ</a><p style="color:white;" class="roomtype"><br>Δίκλινο δωμάτιο για 2 άτομα<br>Βρίσκεται στο ισόγειο</p></div>
  			</div></div>
    </div>
   </div>
  </div>
</div>

<div class="blur pic">

<div class="responsive-1" >
  <div class="gallery" > 
  	<div class="effect to-animate">
    	<img class="heading to-animate image" src="images/L86135.png" >
    	  			    	<div class="overlay">

  			<div class="middle">
  				<div><a  href="emerald_gr.html"  class="text">ΣΜΑΡΑΓΔΙ</a><p style="color:white;" class="roomtype"><br>Άνετο διαμέρισμα σοφίτας<br> Κατάλληλο για 2 - 4 άτομα</p></div>
  			</div></div>
    </div>
   </div>
  </div>
</div>

<div class="blur pic">

<div class="responsive-1" >
  <div class="gallery" > 
  	<div class="effect to-animate">
    	<img class="heading to-animate image" src="images/room1/1.1 2.jpg" >
    	  			    	<div class="overlay">

  			<div class="middle">
  				<div><a  href="coral_gr.html"  class="text">ΚΟΡΑΛΙ</a><p style="color:white;" class="roomtype"><br>Τρίκλινο Δωμάτιο<br> Κατάλληλο για 2 - 3 άτομα</p></div>
  			</div></div>
    </div>
   </div>
  </div>
</div>

<div class="blur pic">

<div class="responsive-1" >
  <div class="gallery" > 
  	<div class="effect to-animate">
    	<img class="heading to-animate image" src="images/L85121 2.jpg" >
    	  			    	<div class="overlay">

  			<div class="middle">
  				<div><a  href="ruby_gr.html" class="text">ΡΟΥΜΠΙΝΙ</a><p style="color:white;" class="roomtype"><br>Ρομαντικό Δίκλινο Δωμάτιο <br> Κατάλληλο για 1 - 2 άτομα</p></div>
  			</div></div>
    </div>
   </div>
  </div>
</div>


<div class="blur pic">

<div class="responsive-1" >
  <div class="gallery" > 
  	<div class="effect to-animate">
    	<img class="heading to-animate image" src="images/L87334.jpg" >
    	  			    	<div class="overlay">

  			<div class="middle">
  				<div><a  href="amber_gr.html" class="text">ΚΕΧΡΙΜΠΑΡΙ</a><p style="color:white;" class="roomtype"><br>Ευρύχωρο Δίκλινο δωμάτιο<br> Κατάλληλο για 2 ενήλικες με παιδί<br>Βρίσκεται στο ισόγειο</p></div>
  			</div></div>
    </div>
   </div>
  </div>
</div>





<div class="clearfix"></div>







					</div>
				</div>

			</div>
		</div>

		
		</div>
	</div>


	
				<div id="fh5co-type" style="background-image: url(images/room4/4.5.jpg);no-repeat;" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">
					<h3 class="to-animate">Όλα τα δωμάτια είναι εξοπλισμένα με : </h3></br></br></br>
					<div class="col-md-2 col-sm-4 to-animate">

						<div class="fh5co-type">
							<h3 class="with-icon icon-2">Διπλό Κρεβάτι</h3>
						
						</div>

					</div>
					<div class="col-md-2 col-sm-4 to-animate">

						<div class="fh5co-type">
							<h3 class="with-icon icon-5">Ιδιωτικό Μπάνιο</h3>
						
						</div>

					</div>
					<div class="col-md-2 col-sm-4 to-animate">
						<div class="fh5co-type">
							<h3 class="with-icon icon-1">Wifi</h3>
						
						</div>
						
					</div>
					<div class="col-md-2 col-sm-4 to-animate">
						<div class="fh5co-type">
							<h3 class="with-icon icon-3">Κλιματισμό</h3>
							
						</div>

					</div>
					<div class="col-md-2 col-sm-4 to-animate">
						<div class="fh5co-type">
							<h3 class="with-icon icon-4">Τηλεόραση</h3>
							 
						</div> 

					</div>
						<div class="col-md-2 col-sm-4  to-animate">
						<div class="fh5co-type">
							<h3 class="with-icon icon-7">Χρηματοκιβώτιο</h3>
							 
						</div> 

					</div>
					
				</div>
			</div>
			</div>

	<div id="fh5co-footer">
		
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="fh5co-footer-widget">
						<a href="" class="logo1" id="logo1"><img class="footer-logo" src="images/logo.png"></a></br></br>
						
						<ul class="fh5co-contact-info" style="list-style-type:none;">
							<li class="fh5co-contact-address "><i class="icon-location-pin"></i>
								Πανσιόν Φιλύρα, Άγγελου Τερζάκη 29, Ναύπλιο, 21100, Αργολίδα, Ελλάδα
							</li>
							<li><i class="icon-phone"></i>  + 30 27520-96096 </li>
							<li><i class="icon-mobile"></i>  + 30 6934988434 </li>
							<li><i class="icon-fax"></i>  + 30 27520-99093 </li>
							<li><i class="icon-envelope"></i> <a href="mailto:pensionfilyra@gmail.com?Subject=Hello%20Pension%20Filyra">pensionfilyra@gmail.com</a></li>
						</ul>
					</div>
					<div class="fh5co-footer-widget ">
						<ul class="fh5co-social">
							<li><a href="https://el-gr.facebook.com/filyrapension/"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/pension_filyra_nafplio/"><i class="icon-instagram"></i></a></li>
							<li><a href="https://twitter.com/pensionfilyra"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.tripadvisor.com.gr/Hotel_Review-g319780-d1576747-Reviews-Pension_Filyra-Nafplio_Argolis_Region_Peloponnese.html"><i class="icon-tripadvisor"></i></a></li>
							


						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="fh5co-footer-widget top-level myfooter" > 
						<h2 style="color: white;" class="heading fh5co-footer-lead ">Μενού</h2>
						<ul class="" style="list-style-type:none;margin-left:-40px;">
							<li><a href="index.html">ΑΡΧΙΚΗ</a></li>
							<li><a href="http://www.pensionfilyra.gr/rooms_gr.html">ΔΙΑΜΟΝΗ</a></li>
							<li><a href="nafplio_gr.html">ΝΑΥΠΛΙΟ</a></li>
							<li><a href="gallery_gr.html">ΦΩΤΟΓΡΑΦΙΕΣ</a></li>
							<li><a href="contact_gr.html">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
							<li ><a href="https://filyranafplion.reserve-online.net/">ΑΜΕΣΗ ΚΡΑΤΗΣΗ</a></li>
<li style="display: inline-flex;
    padding-top: 15px;"><br><a href="index.html" class=""><img class="language" src="images/flag-400.png" ></a>&nbsp;&nbsp;
										<a href="index1_en.html" class=""><img class="language" src="images/engflag.jpeg"></a> </li>
						</ul>



					</div>

				</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="fh5co-footer-widget top-level ">
						<h2 style="color: white;" class="heading fh5co-footer-lead">Χρήσιμοι Σύνδεσμοι</h2>
						<ul class="" style="list-style-type:none;margin-left:-40px;">
							<li><a href="https://www.welcomepickups.com/athens/airport-transfer/?utm_source=webhotelier&utm_medium=navbar&utm_campaign=webhotelier-welcome">Μεταφορά από το Αεροδρόμιο</a></li>
							<li><a href="https://www.ferriesingreece.com/affiliate_engine.php?aff=rezdirect&lang=greek ">Ακτοπλοϊκά Εισιτήρια</a></li>
							<li><a href="http://grecopaths.gr/">Ενναλακτικός Τουρισμός στο Ναύπλιο</a></li>
							<li><a href="https://www.nafplio-tour.gr/">Περιήγηση στο Ναύπλιο</a></li>
							<li><a href="https://www.accuweather.com/el/us/united-states-weather">Ο Καιρός στο Ναύπλιο</a></li>
												

							<li ><a href="https://filyranafplion.reserve-online.net/">Online Κράτηση</a></li>

						</ul>
<p class="text-center" style="padding:15px;"><a href="#" class="js-gotop"><i class="icon-arrow-up-circle" style="font-size:30px;"></i></a></p>


					</div>

				</div>
				
				<div class="visible-sm-block clearfix"></div>

				
				
			</div>


			<div class="row fh5co-row-padded fh5co-copyright">
				<div class="col-md-5">
					<p>MHTE: 1245K133K0174900</p>
					<p><small>&copy; Pension Filyra. All Rights Reserved. <br>Designed by: <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> and modified by: <a href="mailto:tina.bn.23@gmail.com"> Tina Biniari</a> </small></p>
				</div>
			</div>
		</div>

	</div>
	</div>
	
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="js/moment.js"></script>
	<script src="js/bootstrap-datetimepicker.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>

	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="js/main.js"></script>
	<script src="js/lightbox.js"></script>






	</body>
</html>


